$bg-color: #fff;
$font-color: #617172;
$hover-bg-color: #5cb3cc;
$hover-font-color: #fff;
$border-color: #eef2f8;
$head-color: #93d5dc;

$bg-img-color: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
$user-name-color: #c4d7d6;
$sort-title-lateral-color: #5DD0C0;

$pre-bg-color: #fbf3e8;
$code-font-color: #000;
$pre-info-color: #999;

$table-head-color: #dfe2e5;
$table-2-color: #f6f8fa;

:export {
  headColor: $head-color;
}