@import '../../styles/styles.module.scss';
pre.hljs {
  background: $pre-bg-color;
  color: $code-font-color;
  padding: 12px 2px 12px 40px !important;
  border-radius: 5px !important;
  position: relative;
  font-size: 14px !important;
  line-height: 22px !important;
  overflow: hidden !important;
  code {
    margin: 0 10px !important;
  }
  .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 12px;
    bottom: 12px;
    left: 0;
    font-size: 100%;
    width: 40px;
    text-align: center;
    letter-spacing: -1px;
    border-right: 2px solid rgba(201, 201, 201, 0.66);
    user-select: none;
    counter-reset: linenumber;
    span {
      pointer-events: none;
      display: block;
      counter-increment: linenumber;
      &:before {
        content: counter(linenumber);
        color: $pre-info-color;
        display: block;
        text-align: center;
      }
    }
  }
  b.name {
    position: absolute;
    top: 2px;
    right: 80px;
    z-index: 10;
    color: $pre-info-color;
    pointer-events: none;
  }
  .copy-btn {
    position: absolute;
    top: 2px;
    right: 4px;
    z-index: 10;
    color: $pre-info-color;
    cursor: pointer;
    background-color: $bg-color;
    border: 0;
    border-radius: 5px;
  }
}

pre {
  // width: 100vh;
  padding: 10px;
  background-color: $pre-bg-color;
  overflow: hidden;
  code {
    background-color: $pre-bg-color;
    width: 98%;
    padding: 0px;
    display: inline-block;
    overflow: auto;
  }
}

code {
  color: $code-font-color !important;
  background-color:$pre-bg-color;
  padding: 0.25rem 0.5rem;
  font-size: .85em;
  border-radius: 3px;
}

p img {
  max-width: 500px;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  font-size: 1rem;
  color: $pre-info-color;
  border-left: 0.2rem solid $border-color;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;

  tr {
    background-color: $table-head-color;
  }
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  border-top: 1px solid $table-head-color;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:nth-child(2n) {
  background-color: $table-2-color;
}

td, th {
  border: 1px solid $table-head-color;
  padding: 0.6em 1em;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}

td {
  display: table-cell;
  vertical-align: inherit;
}
