@import '../../styles/styles.scss';
.wrapper {
  background-color: $bg-color;
  height: 100%;
  padding: 20px;
  overflow: auto;

  a {
    cursor: pointer;
    color: $font-color !important;

    &:hover {
      font-weight: bolder;
    }
  }
  
}