@import '../../styles/styles.scss';
.wrapper{
  .sider {
    background-color: $bg-color;
    border-right: 1px solid $border-color;
    height: 100vh;
  }

  .content {
    height: 100vh;
    overflow: auto;
  }
}