@import '../../../styles/styles.scss';

.wrapper {
  .title {
    margin-top: 20px;
    color: $head-color !important;
    text-align: left;
    display: inline-block;
  }

  .link {
    position: relative;
    left: 80%;
    // padding-top: 30px;
    color: $head-color;
    font-size: 24px;
    cursor: pointer;

    .icon {
      color: $head-color;
      font-size: 24px;
      cursor: pointer;
      &:hover {
        color: $hover-bg-color;
      }
    }
  }
}
