@import '../../../styles/styles.scss';
.imageWrapper {
  text-align: center;
  .imageStyle {
    border-radius: 5px;
  }
}

.divider {
  padding: 0px 10px;
  color: $user-name-color  !important;
}

.noteSortWrapper {
  height: calc(100% - 210px);
  // overflow: hidden;
  .title{
    border-left: 5px solid $sort-title-lateral-color;

    span {
      color: $font-color;
      font-weight: 200;
      margin-left: 20px;
    }
  }

  .classifyList {
    height: calc(100% - 38px);
    overflow: auto;

    .classify{
      padding: 8px;
      color: $font-color;

      &:hover {
        background-color: $hover-bg-color;
        cursor: pointer;
        color: $hover-font-color;
        border-radius: 3px;
      }

      .classifyName {

      }

      .classifyCount {
        float: right;
      }
    }

    

  }
}