@import '../../../styles/styles.module.scss';

.wrapper {
  margin-top: 10px;
  .col_box{
    display: flex;
    align-items: center;
    .title {
      margin-bottom: 0px !important;
      color: $head-color !important;
      text-align: left;
      // display: inline-block;
    }
  }
  .col_box_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .link {
      color: $head-color;
      font-size: 24px;
      cursor: pointer;
  
      .icon {
        color: $head-color;
        font-size: 24px;
        cursor: pointer;
        &:hover {
          color: $hover-bg-color;
        }
      }
    }
  }
}

