@import '../../../styles/styles.scss';

.tagWrapper {
  height: 70px;
  padding: 10px;
  overflow: auto;

  .tag {
    cursor: pointer;
    color: $font-color;

    &:hover {
      background-color: $hover-bg-color;
      color: $hover-font-color;
    }
  }
}

.Breadcrumb {
  padding: 5px 10px;
  color: $font-color;
  .BreadcrumbItem {
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    font-weight: 400;

    &:hover {
      border-radius: 3px;
      background-color: $hover-bg-color;
      color: $hover-font-color;
    }
  }

  span:nth-last-child(1) {
    font-weight: 200;
  }
}

.listWrapper {
  height: calc(100% - 125px);
  padding: 10px;
  overflow: auto;

  .page {
    border-bottom: 1px dashed $border-color;

    .pageTitle{
      font-weight: 300;
      cursor: pointer;
      color: $font-color !important;

      &:hover {
        font-weight: bold;
      }
    }
    .pageDesc{
      padding-bottom: 10px;
      color: $font-color;

      .key {
        color: $head-color;
      }
    }

    .info{
      display: flex;
      justify-content: flex-end;
      color: $font-color ;
      span {
        padding: 0 10px;
      }
    }
  }
}

.paginationWrapper {
  .pagination {
    float: right;
    padding-top: 5px;
    margin-right: 20px;

    li {
      border: none;
      color: $font-color;
    }
  }
}